.containerForm{
    position: absolute;
    left: 33%;
    top: 20%;
    width: 480px;
    height: 340px;
    background: transparent;
    box-shadow: 5px 5px 30px rgb(201, 112, 242);
    border-radius: 20px;
    border: double rgb(205, 127, 241);
}

.form{
    margin-top: 100px;
    position: absolute;
}

.label{
    font-size: 20px;
    font-family: monospace;
    margin-left: 20px;
    color: #33ff14;
    text-shadow: 0 0 15px white, 3px 3px 0 purple
}

.input1{
    padding: 7px;
    border-radius: 8px;
    width: 220px;
    border-color: #33ff14;
    color: white;
    margin-left: 55px;
}

.input2{
    padding: 7px;
    border-radius: 8px;
    width: 220px;
    border-color: #33ff14;
    background-color: black;
    color: white;
    margin-left: 20px;
}

.btn{
    background-color: transparent;
    cursor: pointer;
    border: solid 2px;
    padding: 10px 26px;
    color: white;
    font-size: 18px;
    font-family: monospace;
    position: relative;
    border-radius: 8px;
    margin-left: 200px;
    margin-top: 30px;
}

.btn:hover{
    color: #33ff14 ;
    border: none;
    font-style: italic;
    text-shadow: 0 0 15px white, 2px 2px 0 purple
}

.h2{
    font-family: monospace;
    position: absolute;
    left: 220px;
    top: 20px;
    color: #33ff14; 
    text-shadow: 0 0 15px white, 3px 3px 0 purple;
}

.opacidad{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: purple;
    z-index: -1;
    opacity: .2;
}