.containerCard{
    width: 320px;
    height: 300px;
    border-radius: 45px;
    border: ridge 8px;
    border-color: black;
    background-image: url('./fondoCard.jpg');
    background-size: cover; 
    background-position: center;
    margin: 10px;
}

.headerCard{
    position: relative;
}

.ContainerButton{
    position: absolute;
    right: 10px;
    top: 10px;
}

.bodyCard{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    top: 50px;
}

.name{
    position: absolute;
    width: 220px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -40px;
}

.img{
    width: 200px;
    height: 200px;
    border-radius : 45px;
    border: double black 5px;
    
}

.imagen{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.btn{
    background-color: white;
    color:  #17580e;
    cursor: pointer;
    border-radius: 40%;
    border: solid 1px;
    border-color: black;
    padding: 8px;
    font-weight: bold;
}

.btn:hover{
    background-color: black;
}

.Link{
    text-align: center;
    color: #57f73f;
    text-shadow: 0.5px 0.5px 5px red, 0 0 15px blue, 0 0 15px blue; 
}

.Link:hover{
    font-style: italic;
    color: beige;
}