.imput{
    padding: 7px;
    border-radius: 8px;
    width: 220px;
    border-color: #33ff14;
    background-color: black;
    color: white;
}

.btn{
    position: relative;
    z-index: 1;
    cursor: pointer;
    background-color: black;
    color: white;
    border-color: #33ff14;
    padding: 7px;
    border-radius: 8px;
    margin: 0px 15px;
    font-weight: 800;
}

.btn:hover::before{
    content: ''; 
    font-family: monospace;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
    45deg,
    white,
    purple,
    purple,
    white,
    purple,
    white,
    purple,
    white
    );
    background-size: 800%;
    border-radius: 8px; 
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    }

    @keyframes glowing {
        0%{
            background-position: 0 0;
        }
        50%{
            background-position: 400% 0;
        }
        100%{
            background-position: 0 0;
        }
    }