.containerNav{
    background-image: url('./fondoNav.jpg');
    display: flex;
    padding: 10px;
    margin: 0px 0px 30px 0px;
    border-bottom: solid .5px;
    border-color: blue;
}

.btn{
    position: relative;
    left: 15px;
    margin: 13px 8px 10px 18px;
    border-radius: 8px;
    padding: 7px;
    background-color: black;
    color: white;
    border-color: #33ff14;
    cursor: pointer;
    font-weight: 800;
}

.btn:hover{
    font-style: italic;
    color: #39ff14;
    font-family: 'OCR A Std', monospace;
}


.SearchBar{
    position: absolute;
    right: 70px;
    margin: 13px 0px 10px 0px;
}



  
  
  